<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sisp.dao.ProjectEntityMapper">
  <resultMap id="ProjectMap" type="com.sisp.dao.entity.ProjectEntity">

    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_content" jdbcType="VARCHAR" property="projectContent" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />

  </resultMap>

  <select id="queryProjectList" resultMap="ProjectMap" parameterType="com.sisp.dao.entity.ProjectEntity" >
    select *
    from project_info
    <where>
      <if test="projectName != null and projectName != ''">
        and project_name = #{projectName}
      </if>

      <if test="id != null and id != ''">
        and id = #{id}
      </if>

    </where>

  </select>


  <insert id="insert" parameterType="com.sisp.dao.entity.ProjectEntity" >

    insert into project_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null and userId != ''">
        user_id,
      </if>
      <if test="projectName != null">
        project_name,
      </if>

      <if test="projectContent != null">
        project_content,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by,
      </if>
      <if test="lastUpdateDate != null">
        last_update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>

      <if test="projectContent != null">
        #{projectContent,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.sisp.dao.entity.ProjectEntity">
    update project_info
    set user_id = #{userId,jdbcType=VARCHAR},
    project_name = #{projectName,jdbcType=VARCHAR},
    project_content = #{projectContent,jdbcType=VARCHAR},
    created_by = #{createdBy,jdbcType=VARCHAR},
    creation_date = #{creationDate,jdbcType=TIMESTAMP},
    last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
    last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <delete id="deleteProjectById" parameterType="com.sisp.dao.entity.ProjectEntity">

    delete from project_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>









</mapper>